<div class="container text-center py-4">
    <h1>Express URL Shortener</h1>
    <small>URL must start with https://</small>
    <form action="/" method="post" class="mt-2">
        <div class="form-group"> 
            <input type="text" 
                name="url" 
                value="https://" 
                class="form-control" 
                placeholder="Enter the URL to be shortened">
        </div>
        <input type="submit" value="Shorten" class="btn btn-primary">
    </form>
</div>