<div class="container text-center mx-4 py-4">
    <h1>Your link has been shortened</h1>
    <a href="<%= url %>" target=_blank><%= short_url %></a><br>

    <a href="/" class="btn btn-primary mt-3">&#8592; Back to Home Page</a>
</div>
